@tailwind base;
@tailwind components;
@tailwind utilities;

.modalAppear{
    animation: move 0.5s ;
}

@keyframes move {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}


/* .me:before{
    background: white;
    height: 450px;
    width: 8000px;
    position: absolute;
    z-index: 1;
    bottom: -40%;
    left: 50%;
    margin-left: -4000px;
} */

.modal {
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    box-sizing:border-box;
    width:600px;
  }

